
/*CSS Variables*/

:root {
  --primary-color: #e6e6e6;
  --secondary-color: #0d0d0d;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  img {
    width: 100%;
  }

  /*Showcase*/

  #showcase {
    background: url(img/showcase.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
  }

  .main-section {
    color: var(--primary-color);
    text-align: center;
    padding: 0px 10px;
    margin-top: 20vh;
  }

  /*Music*/

  #music {
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
  }

  /*Entertainment*/

  #entertainment {
    background: url(img/section-bg.jpg) no-repeat bottom/cover fixed;
    width: 100%;
    height: 100vh;
  }

  .entertainment-section {
    color: var(--primary-color);
    text-align: center;
    padding: 40vh 20px 0px 20px;
  }

  /*Gift cards*/

  #gift-cards .container {
    margin: 10vh 0px;
  }

  .gift-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  /*Footer*/

  #footer {
    background-color: var(--secondary-color);
  }

  #footer .section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #footer .section a {
    color: var(--primary-color);
  }

  #footer .copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
  }

  /*Typography*/
  .container h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .container h3 {
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .container p {
    font-size: 1.3rem;
  }

  .section-head {
    margin-top: 10vh;
    font-size: 1.3rem;
  }

  /*Button*/

  .btn {
    color: var(--primary-color);
    font-size: 1.1rem;
  }

  .btn-bg {
    height: 50px;
    background-color: #ff3333;
    display: inline-block;
    line-height: 50px;
    padding: 0px 10px;
  }

  .btn-bg:hover {
    background-color: var(--secondary-color);
  }

  /*Learn more links*/

  .learn-more {
    padding-top: 20px;
  }

  .lm-anchor {
    color: var(--secondary-color);
  }

  .lm-anchor:hover {
    text-decoration: underline;
  }

  /*Navigation bar*/
  nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    text-align: center;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    cursor: default;
    
  }
  nav a {
    display: inline-block;
    max-width: 150px;
    margin: 0px 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav a:hover {
    color: #ff0066;
  }
  nav a#openup {
    display: none;
  }
  
  @media screen and (max-width: 625px) {

    .entertainment-section {
      padding-top: 30vh;
    }

    .gift-cards {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      padding: 0px 20px;
    }
   
    .hide-on-small {
      display: none;
    }

    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      left: 200px;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 45px;
      top: 24px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
      
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }

  @media screen and (max-width: 400px) {
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      left: 100px;
    }
  }

  /* Landscape */

  @media screen and (max-height: 580px) {

    .hide-on-small {
      display: none;
    }

    .main-section .container {
      margin-top: -4rem;
    }

    .entertainment-section {
      padding-top: 30vh;
    }

    .gift-cards {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      padding: 0px 20px;
    }

    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      left: 200px;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 45px;
      top: 24px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
      
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  
  
  
  